.hide {
    height: 0;
    overflow: hidden;
}

.temp {
    background-color: #f0f0f0;
    box-shadow: 0px 3px 10px 1px #777;
    padding: 2vmin;
    margin: 30px 0px;
    position: relative;
}

.temp img {
    width: 76vmin;
    height: 76vmin;
}

.temp hgroup > div {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 10px 1px;
}

.temp hgroup h2 {
    color: black;
    margin: 0;
    flex-grow: 10000;
    font-size: 20px;
    font-family: gochic;
}

.temp hgroup .jump {
    height: 35px;
    background-color: #f0f0f0;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #000;
    width: 40vmin;
}

.temp hgroup p {
    flex-shrink: 0;
    font-size: 16px; 
    font-family: gochic;
    margin: 0;
    color: black;
}

.arr {
    transform: translateY(5px);
}