.like-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.goodBtn {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-heart {
  font-size: 22px;
  transition: color 0.3s;
  filter: drop-shadow(0 0 0.5px #000)
          drop-shadow(0 0 0.5px #000);
}

.goodBtn.active .fa-heart {
  transform-origin: center center;
  animation: heart 1s ease-in-out forwards;
}